* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  font-family: verdana;
  color: rgb(13, 0, 0);
  background-image: url("branco.jpg");





}

h2 {
  font-size: 2.3vw;
  color: rgb(86, 105, 105);
  text-align: center;

}

p {
  font-size: 1vw;
  font-family: Verdana, sans-serif,
}



.header-top {
  height: 70px;
  background-color: #c0def999;
  position: relative;
  border-radius: 20px;
  padding-left: 1%;
  margin: 10px;
  

}


.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;

}

.header-nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 15px 0 0;
  padding: 13px;

}

.header-nav a {
  color: #717bddb5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 2px;
  transition: color 0.8s linear;
  display: flex;
  margin-top: 8px;
  
}

.header-nav a:hover {
  color: rgb(238, 0, 0);

}

/* _________________________________________________ */

.Btlogin-popup {
  width: 80px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.097);
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.2vw;
  margin-right: 40px;
  transition: color .8s;
  color: #717bddb5;
}

.Btlogin-popup:hover {

  background-color: rgb(147, 196, 226);
  color: red;

}

/* _____________________________________________________ */

.caixalogin {
  position: absolute;
  top: calc(50% - 200px);
  right: calc(50% - 200px);
  width: 400px;
  height: 440px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;

}

.caixalogin.active-popup {
  transform: scale(1);
}

.caixalogin.active {
  height: 520px;

}

.caixalogin .box-login {
  width: 100%;
  padding: 40px;


}

.caixalogin .box-login.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.caixalogin.active .box-login.login {
  transition: none;
  transform: translateX(-400px);
}

.caixalogin .box-login.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.caixalogin.active .box-login.register {
  transition: transform .18s ease;
  transform: translateX(0);
}





.caixalogin h2 {

  font-size: 2em;
  text-align: center;
}

.caixalogin .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #717bddb5;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  animation-name: cores;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid;
  margin: 30px 0;

}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;

}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;

}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;

}

.lembrar-senha {

  font-size: .9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.lembrar-senha label input {
  accent-color: rgb(23, 22, 22);
  margin-right: 3px;

}

.lembrar-senha a {
  color: black;
  text-decoration: none;

}

.lembrar-senha a:hover {
  text-decoration: underline;
}

.Bt {
  width: 100%;
  height: 45px;
  border: none;
  
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  animation-name: cores;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}

@keyframes cores{
  0% {background: #800000; }
  25% {background: #ffff00; }
  50% {background: #2f91b8; }
  75% {background: #008000; }
  100% {background: #9b0e0e;}

  
}

.login-register {
  font-size: .9em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* ____________________________________________________ */

.left1{
  border: #008000 solid;
  width: 100%;
  height: 1000px;
 
  
}

.right1{
  float: left;
  
  
}

.img1{
  
  float: right;
  
 
}




/* ____________________________________________ */





.rodape {
  background-color: #16202868;
  text-align: center;
  color: aliceblue;
  margin: 1px;
  
}